:root {
  --bg-color: #1a1a1a; /* Темно-серый фон как на макете */
  --text-color: #ffffff;
  --border-color: rgba(255, 255, 255, 0.2); /* Полупрозрачные рамки */
  --accent-font: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--accent-font);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.main-content {
  flex: 1; /* Растягивает контент, прижимая футер вниз */
  display: flex;
  align-items: center; /* Центрирует таблицу вертикально */
}

.footer {
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-text {
  max-width: 400px;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.5; /* Серый текст */
  text-align: left;
}

.signature-area {
  opacity: 0.5;
  width: 200px;
  height: 100px;
  
}
.main-content {
  min-height: 80vh; 
  display: block;   
  width: 100%;
  background-color: #161616;
}