

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 80vh; 
  color: #ffffff;
  padding-top: 60px;
}

.profile-title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 80px;
  text-align: center;
  font-family: sans-serif;
}

.profile-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  gap: 60px;
}

.profile-image-wrapper {
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 300;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-label {
  color: #fff;
}

.info-value {
  color: #fff;
}


.change-pass-btn {
  margin-top: 10px;        
  padding: 10px 24px;      
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 8px;      
  font-size: 16px;         
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease; 
  align-self: flex-start;  
}


.change-pass-btn:hover {
  background-color: #ffffff;
  color: #000000;
}